ERPNEXT_VERSION=version-16
FRAPPE_VERSION=version-16

CUSTOM_IMAGE=frappe/erpnext
CUSTOM_TAG=version-16
PULL_POLICY=always

DB_PASSWORD=change_me_db_password
ADMIN_PASSWORD=change_me_admin_password
SITE_NAME=erpnext.localhost

DB_HOST=db
DB_PORT=3306
REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379

FRAPPE_SITE_NAME_HEADER=$$host
UPSTREAM_REAL_IP_ADDRESS=127.0.0.1
UPSTREAM_REAL_IP_HEADER=X-Forwarded-For
UPSTREAM_REAL_IP_RECURSIVE=off
PROXY_READ_TIMEOUT=120
CLIENT_MAX_BODY_SIZE=50m

MARIADB_VERSION=11.8
REDIS_VERSION=6.2-alpine
